*.pyc
*.pyo
.tags
/mktags
portal/local_settings.py
/tmtags
xml_reports
.project
.pydevproject*
.tmproj
*.coverage
coverage.xml
nosetests.xml
.settings/
*.db
zonzadb
test_zonzadb
*coverage_html*
/ve
portal-app.log
.installed.cfg
*.db
src/
*.swp
portal_media/CACHE
.idea
portal_media/shared
portal/build
docs/build
bin/
eggs/
develop-eggs/
parts/
.DS_Store
build/
TAGS
.#*
*_flymake.py

js_test_driver/logs/
js_test_driver/js_tests
public/shared/CACHE/js/*.js
public/shared/CACHE/css/*.css

portal/config/mappings

